config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/eosc-synergy/sqaaas-step-action:
      branch: main
      repo: https://github.com/eosc-synergy/sqaaas-step-action
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/eosc-synergy/sqaaas-step-action git:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-pear-havanese.sh
        container: qc.acc_hasty-silver-panda
  QC.Doc:
    repos:
      github.com/eosc-synergy/sqaaas-step-action find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-black-ray.sh
        container: qc.doc_seedy-bistre-buzzard
      github.com/eosc-synergy/sqaaas-step-action git:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-buff-goat.sh
        container: qc.doc_crabby-orchid-woodlouse
      github.com/eosc-synergy/sqaaas-step-action markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-turquoise-catfish.sh
        container: qc.doc_trippy-vermilion-gibbon
  QC.Lic:
    repos:
      github.com/eosc-synergy/sqaaas-step-action licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-mustard-starfish.sh
        container: qc.lic_breezy-linen-retriever
  QC.Sec:
    repos:
      github.com/eosc-synergy/sqaaas-step-action bandit:
        commands:
        - /usr/bin/env sh .sqa/script.messy-lilac-vulture.sh
        container: qc.sec_sunny-ruby-magpie
  QC.Sty:
    repos:
      github.com/eosc-synergy/sqaaas-step-action flake8:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-cream-woodpecker.sh
        container: qc.sty_gloppy-russet-bat
      github.com/eosc-synergy/sqaaas-step-action hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-denim-cheetah.sh
        container: qc.sty_gummy-chestnut-pig
  QC.Uni:
    repos:
      github.com/eosc-synergy/sqaaas-step-action pytest:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-smalt-tarsier.sh
        container: qc.uni_cranky-chestnut-hippopotamus
  QC.Ver:
    repos:
      github.com/eosc-synergy/sqaaas-step-action get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-jade-molly.sh
        container: qc.ver_hasty-charcoal-mandrill
timeout: 5400
